code
Build
FileMaker
FileMaker.*
Packages
tools
conf.d
unit_coverage_report
.htaccess
web.config
.phpunit.result.cache
.DS_Store
.phpunit.result.cache
.vscode
!.vscode/settings.json
!.vscode/launch.json
