<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
 >
    <!-- Handy to show extra information like deprecations. Place these attrinbutes in phpunit tag: -->
    <!--
    testdox="false" 
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    -->
  <testsuites>
    <testsuite name="RESTfm-lib">
      <directory>libTests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">lib</directory>
      <exclude>
        <directory suffix=".php">lib/tonic</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
