; This is a template for the 'Assisted Install.txt' file

[Assisted Install]

License Accepted=1

Organization=My Org Here

Deployment Options=0

Admin Console User=MyAdminHere

Admin Console Password=my_password_here

Admin Console PIN=1234

Launch Deployment Assistant=0

License Certificate Path=/fms/LicenseCert.fmcert

Filter Databases=0

Remove Desktop Shortcut=1

Remove Sample Database=1

