# This is a template for the required .env file in this directory. Copy it
# to .env and modify as needed.

# User and group to run stack as, must be a numeric id
USER_ID=500
GROUP_ID=500

# Timezone for images
TIMEZONE=Australia/Melbourne

# Add additional packages/configuration to images for debugging
DEBUG_BUILD=true

# PHP_VERSION will also be used in image name
PHP_VERSION=8.1

# UBUNTU_VERSION for FileMaker Server base image
UBUNTU_VERSION=22.04

# FMS_VERSION will also be used in image name
FMS_VERSION=20.3

# Space seperated list of FileMaker Server features to enable:
#   dataapi     - Data API
#   odata       - OData
#   odbc        - ODBC / JDBC
#   phpapi      - PHP API - must also enable Web Publishing Engine (wpe)
#   webdirect   - WebDirect - automatically enables Web Publishing Engine (wpe)
#   wpe         - Web Publishing Engine
#   xmlapi      - XML API - must also enable Web Publishing Engine (wpe)
FMS_ENABLE_FEATURES=dataapi phpapi wpe xmlapi
