# This is a template for the required .env file in this directory.

# User and group to run stack as, must be a numeric id
USER_ID=500
GROUP_ID=500

# PHP_VERSION will also be used in image name
PHP_VERSION=8.1

# FMS_VERSION will also be used in image name
FMS_VERSION=20.3

# CN for self-signed certificate
CERT_CN=example.com
